.chatRoomMain {
    background-color: #eae9e9;
    padding: 20px 16px;
    height: calc(100vh - 108px);
    position: relative;
}

.chatWrapper {
    position: absolute;
    left: 1rem;
    right: 0;
    bottom: 3rem;
}

.chatRoomMain .chat:not(:last-child) {
    font-size: 14px;
    max-width: 240px;
    width: fit-content;
    margin-bottom: 9px;
    padding: 12px;
    line-height: 18px;
    border: 1px solid #c4c4c4;
    position: relative;
}

.chatRoomMain .chat.left::after {
    content: "";
    font-size: 10px;
    color: var(--sub-font-color);
    position: absolute;
    bottom: 0;
    right: -30px;
}

.chatRoomMain .chat:first-child::after {
    content: "12:39";
}

.chatRoomMain .chat:nth-child(2)::after {
    content: "12:41";
}

.chatRoomMain .chat:nth-child(4)::before {
    content: "12:50";
    font-size: 10px;
    color: var(--sub-font-color);
    position: absolute;
    bottom: 0;
    left: -30px;
}

.chatRoomMain .chat.left {
    background-color: #fff;
    border-radius: 0 8px 8px 8px;
    margin-left: 50px;
    position: relative;
}

.chatRoomMain .chat.left::before {
    content: "";
    display: inline-block;
    width: 42px;
    height: 42px;
    background: url(../../assets/basic-profile-pea.png) no-repeat center/contain;
    position: absolute;
    top: 0;
    left: -50px;
    border-radius: 50%;
}

.chatRoomMain .chat.right {
    background-color: var(--main-color);
    color: #fff;
    border-radius: 8px 0 8px 8px;
    margin-right: 16px;
    margin-left: auto;
    border: none;
}

.chatRoomMain .chat.img {
    background: #fff url(../../assets/salad.avif) no-repeat center;
    background-size: cover;
    width: 240px;
    height: 240px;
    position: relative;
    border-radius: 5px;
}

.chatRoomMain .chat.img:before {
    color: var(--sub-font-color);
    content: "12:51";
    position: absolute;
    font-size: 10px;
    bottom: 5px;
    left: -30px;
}