.topMainNav {
    background-color: #ffffff;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    width: 100%;
    padding: 0 16px;
    border-bottom: 1px solid var(--main-border-color);
    box-sizing: border-box;
    z-index: 10;
}

.topMainNav > h1 {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

.topMainNav > button {
    width: 24px;
    height: 24px;
    background: url(../../assets/icon/icon-search.svg) no-repeat;
}

.homeContentFeed {
    padding: 48px 0 61px;
}

.homeContentNonFeed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 108px);
    padding-top: 48px;
}

.homeContentNonFeed > div {
    width: 100px;
    height: 100px;
    background: url(../../assets/pea-nocolor.png) no-repeat center/100%;
}

.homeContentNonFeed > p {
    margin: 20px 0;
    color: var(--sub-font-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}

.homeContentNonFeed > button {
    background: var(--main-color);
    width: 120px;
    padding: 13px 0;
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    border-radius: 44px;
}
