.mainLogin{
    padding: 50px;
}
.singupTitle{
    text-align: center;
    font-size: 28px;
    padding-bottom: 60px;
    color: var(--main-font-color);
}
.nextPage{
    color: var(--sub-font-color);
    font-size: 14px;
    text-align: center;
    text-decoration: none;
}