/* .profileWrap {
    overflow: hidden;
    text-align: center;
} */

.postBtnWap {
    display: flex;
    width: 390px;
    margin: 0 auto;
    justify-content: flex-end;
}

.btnContainer {
    /* width: 90px; */
    display: flex;
    /* overflow: hidden; */
}

.profilePostBtn {
    width: 30px;
    margin-right: 10px;
}
