.setProfileWrap {
    padding: 30px 34px 0;
}

.setProfileWrap > h1 {
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
}

.setProfileWrap > p {
    margin: 12px 0 30px;
    color: var(--sub-font-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
}

.setProfileWrap .goFeedBtn {
    background-color: var(--main-bg-color);
    width: 100%;
    padding: 13px 0;
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    border-radius: 44px;
}
.setProfileWrap .on {
    background-color: var(--main-color);
}
