.setProfileMain {
    width: 390px;
    margin: 0 auto;
}

.setProfileWrap {
    margin: 45px 34px 10px;
}

.setProfileWrap > h1 {
    color: var(--main-font-color);
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
}

.setProfileWrap > p {
    margin: 12px 0 30px;
    color: var(--sub-font-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
}

.setProfileWrap .goFeedBtn {
    background-color: var(--main-bg-color);
    display: block;
    width: 100%;
    padding: 13px 0;
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    border-radius: 44px;
    cursor: none;
    pointer-events: none;
}
.goFeedBtn.on {
    background-color: var(--main-color);
    pointer-events: auto;
    cursor: pointer;
}
