/* @import url("https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap"); */

.headTitle {
    text-indent: -9999px;
}

.splashSection {
    margin: 0 auto;
}

.colorPea {
    background-image: url(../../assets/pea-color.png);
    background-repeat: no-repeat;
    background-size: contain;
    text-indent: -9999px;
    width: 200px;
    height: 200px;
    margin: 25% auto 7%;
}

.mainMarket {
    background-image: url(../../assets/yeondumarket.png);
    width: 180px;
    height: 50px;
    margin: 0 auto;
    /* font-family: "Gamja Flower", cursive; */
}
