.uploadPostHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    padding: 0 20px;
    border-bottom: 1px solid var(--main-border-color);
}

.uploadPostHeader .prevBtn {
    width: 22px;
    height: 22px;
    background: url("../../assets/icon/icon-arrow-left.svg");
}

.uploadPostHeader .uploadBtn {
    padding: 8px 25px;
    border-radius: 32px;
    background-color: var(--main-color);
    color: #fff;
    font-size: 14px;
    width: fit-content;
}

.uploadPostHeader .uploadBtn.disabled {
    pointer-events: none;
    background-color: var(--main-bg-color);
}

.uploadPostMain {
    display: flex;
    padding: 20px;
    align-items: flex-start;
    gap: 12px;
    font-size: 14px;
    height: 80vh;
}

.uploadPostMain .myProfileImg {
    background: url("../../assets/icon/icon-ellipse-1.svg") no-repeat
        center/contain;
    width: 42px;
    height: 42px;
}

.uploadPostMain textarea {
    width: 100%;
    flex-grow: 0;
    padding: 10px;
}
