
.uploadPostHeader .uploadBtn.disabled {
    pointer-events: none;
    background-color: var(--main-bg-color);
}

.uploadPostMain {
    display: flex;
    padding: 20px;
    align-items: flex-start;
    gap: 12px;
    font-size: 14px;
    height: 80vh;
}

.uploadPostMain .myProfileImg {
    background: url("../../assets/icon/icon-ellipse-1.svg") no-repeat
        center/contain;
    width: 42px;
    height: 42px;
}

.uploadPostMain textarea {
    width: 100%;
    flex-grow: 0;
    padding: 10px;
}

.uploadPostMain input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
