.postCommentWrap {
    display: flex;
    padding: 10px 16px;
    justify-content: space-between;
}

.postCommentWrap .writerImg {
    background: url(../../assets/icon/Ellipse\ 4.svg);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 12px;
    flex-shrink: 0;
}
.comment {
    width: 100%;
}

.comment strong {
    font-size: 14px;
    font-weight: bold;
    margin-right: 6px;
}

.comment span {
    color: var(--sub-font-color);
    font-size: 10px;
}

.comment span::before {
    content: "·";
    margin-right: 5px;
}

.comment p {
    font-size: 14px;
    margin-top: 16px;
}

.postCommentWrap .showModal {
    width: 20px;
    height: 20px;
    background: url(../../assets/icon/more-vertical.svg) no-repeat;
}
