.topChatNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    padding: 0 20px;
    border-bottom: 1px solid var(--main-border-color);
}

.topChatNav .prevBtn {
    width: 22px;
    height: 22px;
    background: url("../../assets/icon/icon-arrow-left.svg");
    margin-right: 10px;
}

.topChatNav .chatSender {
    text-align: left;
    width: 100%;
    font-weight: 600;
    font-size: 14px;
}

.topChatNav .moreBtn {
    width: 22px;
    height: 22px;
    background: url("../../assets/icon/icon-\ more-vertical.svg");
}
