.profileWrap {
    overflow: hidden;
    text-align: center;
}

.temp-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 30px 0px 15px 0px;
}

.temp-wrap .followCount {
    font-weight: 700;
    font-size: 18px;
}

.temp-wrap .followName {
    color: #767676;
}

.temp-wrap .userImage {
    margin: 0 40px;
}

.profileWrap .userName {
    font-weight: 700;
    padding-bottom: 6px;
}

.profileWrap .userID {
    color: #767676;
    padding-bottom: 16px;
}

.profileWrap .userIntro {
    color: #767676;
    padding-bottom: 24px;
}

.profileWrap .profileCircleBtn {
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #dbdbdb;
    padding: 6px;
    vertical-align: -4px;
    box-sizing: border-box;
}

.profileWrap .profileCircleBtn .messageImg {
    display: block;
}

.profileWrap .profileCircleBtn .shareIcon {
    display: block;
}

.profileWrap .profileFollowBtn {
    color: white;
    background-color: #83bd75;
    width: 120px;
    border-radius: 30px;
    padding: 8px 0px;
    margin: 0px 10px;
}
