.infoWrap {
    display: flex;
    flex-direction: column;
    max-width: 390px;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.tempWrap {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 30px 0px 15px 0px;
}

.tempWrap .followCount {
    font-weight: 700;
    font-size: 18px;
}

.tempWrap .followName {
    color: var(--sub-font-color);
}

.profileWrap .userName {
    font-weight: 700;
    padding-bottom: 6px;
}

.profileWrap .userID {
    color: var(--sub-font-color);
    padding-bottom: 16px;
}

.profileWrap .userIntro {
    color: var(--sub-font-color);
    padding-bottom: 24px;
}
