.infoWrap {
    display: flex;
    flex-direction: column;
    /* max-width: 390px; */
    align-items: center;
    width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid #c4c4c4;
}

.tempWrap {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 30px 0px 20px 0px;
}

.tempWrap .followCount {
    font-weight: 700;
    font-size: 18px;
    text-align: center;
}

.tempWrap .followName {
    color: var(--sub-font-color);
}

.profileInfoWrap {
    width: 390px;
}

.profileInfoWrap .userName {
    font-weight: 700;
    padding-bottom: 6px;
    text-align: center;
    line-height: 20px;
}

.profileInfoWrap .userID {
    margin: 0 auto;
    max-width: 390px;
    overflow-wrap: break-word;
    color: var(--sub-font-color);
    padding-bottom: 16px;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
}

.profileInfoWrap .userIntro {
    color: var(--sub-font-color);
    font-size: 14px;
    line-height: 18px;
    max-width: 390px;
    margin: 0 auto;
    overflow-wrap: break-word;
    text-align: center;
}
