.profileImgSetting {
    width: 110px;
    height: 170px;
    position: relative;
    margin: auto;
}

.profileImgSetting > input[type=file] {
    display: none;
}

.profileForm {
    margin-bottom: 30px;
}

.wrapInput:not(:last-child) {
    margin-bottom: 16px;
} 

.wrapInput > label {
    color: var(--sub-font-color);
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
}

.wrapInput > input {
    width: 100%;
    padding: 10px 0 8px;
    border-bottom: 1px solid var(--main-border-color);
}
.wrapInput > input:focus {
    border-bottom: 1px solid var(--main-font-color);
}
.wrapInput > input::placeholder {
    color: var(--main-border-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}

#accountname.disabled {
    background-color: #F6F6F6;
}

.wrapInput .cautionText {
    display: block;
    padding-top: 6px;
    color: var(--main-font-color);
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}