.ModalAlert {
    width: 252px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
}

.ModalAlert .alertText {
    display: inline-block;
    font-weight: 500;
    width: 100%;
    padding: 22px 0;
}

.wrapAlert {
    display: flex;
}

.wrapAlert .modalAlertBtn {
    /* display: flex; */
    width: 100%;
    background-color: #fff;
    /* display: inline-block; */
    border: none;
    padding: 14px 0;
    border-top: 1px solid #dbdbdb;
}

.modalAlertBtn.delete {
    color: #83bd75;
    border-left: 1px solid #dbdbdb;
}
