.userList {
    display: flex;
    margin-bottom: 16px;
    cursor: pointer;
}

.userInfo {
    margin-left: 12px;
}

.userInfo .username {
    padding: 5px 0 6px;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
}

.userInfo .accountname {
    color: var(--sub-font-color);
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}

.keyword {
    color: var(--main-font-color);
}