.prevBtn {
    width: 22px;
    height: 22px;
    background: url("../../assets/icon/icon-arrow-left.svg");
}

.topChatNav .prevBtn {
    margin-right: 10px;
}

.topChatNav .moreBtn,
.moreBtn {
    width: 22px;
    height: 22px;
    background: url("../../assets/icon/icon-\ more-vertical.svg");
}

.unsettled {
    display: none;
}

.topBasicNav,
.uploadPostHeader,
.topSearchNav,
.topChatNav,
.followerWrap .topMainNavFollow {
    display: flex;
    align-items: center;
    height: 48px;
    padding: 0 20px;
    border-bottom: 1px solid var(--main-border-color);
}
.topBasicNav,
.uploadPostHeader,
.topSearchNav,
.topChatNav {
    justify-content: space-between;
}

.uploadPostHeader .uploadBtn {
    background-color: var(--main-color);
    color: #fff;
    border-radius: 31px;
    position: relative;
}

.saveBtn {
    background-color: var(--main-bg-color);
    width: 90px;
    padding: 7px 0px;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    border-radius: 31px;
    cursor: default;
}

.saveBtn.on {
    background-color: var(--main-color);
    cursor: pointer;
}

.uploadPostHeader .uploadBtn {
    padding: 8px 25px;
    font-size: 14px;
    width: fit-content;
}

input[type="notext"] {
    display: none;
}

.topSearchNav > input {
    background: #f2f2f2;
    width: 100%;
    padding: 7px 16px;
    margin-left: 20px;
    border: none;
    border-radius: 32px;
}

.topSearchNav > input::placeholder {
    color: #c4c4c4;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}
