.WraplikeBtn .likeBtn {
    width: 20px;
    height: 20px;
    background: url(../../assets/icon/icon-heart.svg) no-repeat;
    margin-right: 2px;
    vertical-align: -5px;
}
.WraplikeBtn .likeBtn.on {
    background: url(../../assets/icon/icon-heart-green.svg) no-repeat;
}

.WraplikeBtn > em {
    margin-right: 16px;
    color: #767676;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
}
