#checkEmail, #checkPassword {
    display: block;
    margin-bottom: 20px;
    color: var(--sub-font-color);
}

#loginEmail, #passwordEmail {
    border-bottom: 1px solid var(--main-border-color);
    width: 100%;
    font-size: 16px;
    padding-bottom: 15px;
    margin-bottom: 6px;
}
#loginEmail {
    margin-bottom: 20px;
}

#loginEmail:focus, #passwordEmail:focus {
    border-bottom: 1px solid var(--main-font-color);
}

#loginEmail::placeholder, #passwordEmail::placeholder {
    color: var(--main-border-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}

.cautionText {
    display: none;
    color: var(--main-font-color);
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}
.cautionText.none {
    display: block;
}