.loginBtn {
    background-color: var(--main-bg-color);
    width: 100%;
    line-height: 50px;
    border-radius: 45px;
    color: #ffffff;
    font-size: 18px;
    margin: 40px auto 30px;
    line-height: 55px;
}

.loginBtn.loginBtnActive {
    background-color: var(--main-color);
    cursor: pointer;
}