.loginBtn {
    background-color: var(--main-bg-color);
    width: 100%;
    padding: 13px 0;
    margin: 30px auto 20px;
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    border-radius: 44px;
}

.loginBtn.loginBtnActive {
    background-color: var(--main-color);
    cursor: pointer;
}
